<h1>Start a new room</h1>

<p>Enter a name to use in chat.</p>

<%= form_for(@user) do |f| %>
	<div class="field">
		<%= debugger %>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
<% end %>

<p>Alternatively, generate a random name.</p>
