<h1>About</h1>

<p>RTalk is a demo app that I made with Ruby on Rails as part of my internship at Chronus Software. Wouldn't have been possible without the guidance of my mentor, <strong>Anand Mohanaveeramani.</strong></p>

<p>RTalk is very much a work in progress! There are several features I plan to add to make it more user-friendly.</p>

<a href="mailto:rohan.prinja@chronus.com">Contact</a>