<h1>About</h1>
<p>RTalk is a truly anonymous chat site. Unlike Facebook or Google, we do not store your chat data. We don't mine your conversations looking for ways to sell to you. No ads, no spam, complete privacy. Just you chatting with your friends.</p>
