<h1>About</h1>

<p>RTalk is a demo app that I made in Ruby on Rails as part of my internship at Chronus Software. Wouldn't have been possible without the guidance of my mentor, <strong>Anand Mohanaveeramani.</strong></p>

<a href="mailto:rohan.prinja@chronus.com">Contact</a>