<h1>About</h1>

<a href="https://github.com/wenderen/rtalk"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:1035" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<h2>RTalk</h2>

<p>RTalk is a demo app that I made with <a href="http://rubyonrails.org/">Ruby on Rails</a> as part of my internship at <a href="http://chronus.com/">Chronus</a>. Wouldn't have been possible without the guidance of my mentor, <strong>Anand Mohanaveeramani.</strong></p>

<p>RTalk is very much a work in progress! There are several features I plan to add to make it more user-friendly.</p>

<h2>Contribute</h2>

<p>Contribute to the source code! Click the red banner in the top right.</p>

<h2>Contact</h2>

Contact me at <a href="mailto:rohan_prinja@iitb.ac.in">rohan_prinja@iitb.ac.in</a>.