<h1>Help</h1>
<p>To start a new session, click the New Session button on the home page. A URL will be generated. You can share it as many people as you want to chat with. You may start as many separate sessions as you want.</p>
