<h1>Help</h1>
<p>To start a new session, click the New Session button on the home page. A URL will be displayed, which you can share with as many people as you want to chat with. You may start as many separate sessions as you want. You wil be assigned a unique ID in each session.</p>
