<h1>Welcome to RTalk!</h1>

<p>Click the <strong>New Private Chat</strong> button to start a session of your own, or the <strong>Join Private Chat</strong> button to join an existing session, or the <strong>Join Public Room</strong> button to join one of the public rooms.</p>

<div class="btn-group">
	<div style="float:left; margin:10px">
		<%= link_to "New Private Chat", new_path, :class => "btn btn-large btn-success" %>
	</div>
	<div style="float:right; margin:10px">
		<%= link_to "Join Private Chat", join_path, :class => "btn btn-large btn-info" %>
	</div>
	<!-- <div style="float:right; margin:10px">
		<%= link_to "Join Public Room", join_path, :class => "btn btn-large btn-danger" %>
	</div> -->
</div>

<h2>What is RTalk?</h2>
<p>RTalk is a truly anonymous chat site. Unlike Facebook or Google, we do not store your chat data or mine your conversations. No ads, no spam, complete privacy. Just you chatting with your friends.</p>
<h2>Instructions</h2>
<p>To start a new session, click the New Session button on the home page. A URL will be generated. You can share it as many people as you want to chat with. You may start as many separate sessions as you want.</p>