<h1>RTalk</h1>
<p>Welcome to RTalk! Click the <strong>New Session</strong> button to start a session of your own, or the <strong>Join Session</strong> button to join an existing session.</p>
<div class="btn-group">
	<div style="float:left; margin:10px">
		<%= link_to "New Session", new_path, :class => "btn btn-large btn-success" %>
	</div>
	<div style="float:right; margin:10px">
		<%= link_to "Join Session", join_path, :class => "btn btn-large btn-primary" %>
	</div>
</div>