<h1>RTalk</h1>
<p>Welcome to RTalk! Click the <b>New Session</b> button to start a session of your own, or the <b>Join Session</b> button to join an existing session.</p>
<table>
	<tr>
		<td>
			<%= link_to "New session", "#", :class => "session_button" %>
		</td>
		<td>
			<%= link_to "Join session", "#", :class => "session_button" %>
		</td>
	</tr>
</table>