<h1>Join a room</h1>

<p>Choose a name to use in chat.</p>
<form class="form-inline">
	<input style="margin-right:15px"type="text" name="Name" placeholder="Enter a name to use in chat">
	<input type="submit" value="Choose name">
</form>

<p>Enter the chat room URL.</p>