<h1>Start a new room</h1>

<!-- <form class="form-inline">
	<input style="margin-right:15px"type="text" name="Name" placeholder="Enter a name to use in chat">
	<input type="submit" value="Choose name">
</form> -->

<p>Enter a name to use in chat (at least 6 characters and at most 40 characters long).</p>

<%= form_for(:room, :url => )

<!-- <p>Alternatively, generate a random name.</p>

<button class="btn btn-info">Generate</button> -->