<h1>Start a new room</h1>

<form class="form-inline">
	<input type="text" name="Name" placeholder="Enter a name to use in chat">
	<input type="submit" value="Choose name">
</form>

<p>Alternatively, generate a random name.</p>

<button class="btn btn-large btn-warning">Generate!</button>
