<h2>Welcome to Rtalk!</h2>

<%= image_tag asset_path("emoticons/smile-1-1.png") %>

<h3>Starting a Chat Room</h3>

<p>RTalk makes it easy to start an anonymous chat session with your friends. On the home page, click on "New Chat". You will be asked to supply a name and (optionally) a title for the chat room. That's it! Then click on 'Start Chatting'.</p>

<p>Once you start a new chat room, the next step is to invite your friends over. Click on the 'copy to clipboard'. You can now paste the room key and share it with your friends, who can join by clicking 'Join Private Chat' on the home page. Simple, isn't it?</p>

<h3>In the Chat Room</h3>

<p>Type in the chat box at the bottom and hit 'Enter' or click the 'Send' button to send a message. You can leave the room at any point. If all of the users in the room leave, the room - and all of the messages you and your friends posted - are destroyed.</p>