<li>
	<span class="created_at"><%= message.created_at.strftime("%H:%M") %></span>
	<% new_message_content = auto_link(parse_emoticons(message.content)) %>
	<strong><%= message.user_name %>: </strong><%= new_message_content %>
</li>