<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    	<div class="container">
    		<a href="/" class="brand">RTalk</a>
			<header>
				<ul class="nav pull-right">
				</ul>
			</header>
		</div>
	</div>
</div>