<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
		<header>
			<ul class="nav">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Help", help_path %></li>
			</ul>
		</header>
	</div>
</div>