<%= image_tag asset_path("help.png"), style: "display: block; margin-left: auto; margin-right: auto" %>

<h3>Starting a Chat Room</h3>

<p>RTalk makes it easy to start an anonymous chat session with your friends. On the home page, click on <strong>New Private Chat</strong>. You will be asked to supply a name and (optionally) a title for the chat room. That's it! Then click on <strong>Start Chatting</strong>.</p>

<p>Once you start a new chat room, the next step is to invite your friends over. Click on the <strong>copy to clipboard</strong> button. You can now paste the room key and share it with your friends, who can join by clicking <strong>Join Private Chat</strong> on the home page. Simple, isn't it?</p>

<h3>Room Keys</h3>

<p>Each chat room has a 25-character alphanumeric key, which is the same as the last part of its URL. This is the key that you share with your friends when you want them to start chatting with you.</p>

<h3>In the Chat Room</h3>

<p>Type in the chat box at the bottom and hit <strong>Enter</strong> or click the <strong>Send</strong> button to send a message. You can leave the room at any point by clicking the <strong>Leave Room</strong> button. You can still join the chat again if you change your mind. But if all of the users in the room leave, the room - and all of the messages you and your friends posted - are destroyed.</p>